
body{
  /* font-family: "TradeGothic LT Regular"; */
  font-family: 'Engravers';
  font-weight: 400;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: black;
  /* background-image: url("https://d3t14gfu9ehll4.cloudfront.net/themes/d30f1c03-24df-4899-870e-daeac506083c/undefined_I4JDYks.png"); */
  min-height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainPhoto{
  margin-top: 5%;
  width: 80%;
  height: 10% !important;
  border: 8px solid white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);}


  .nav-animate{
    animation: fadeIn 5s ;
  }
  .mainContent{
    border: 1px solid white;
    text-align: left;
    margin: 5% 10%;
    padding: 4%;  }
  .eventStyle{
    border: 1px solid white;
    margin: 5% auto;
    padding: 4%;
  }
  .heading{
    /* margin: 3% auto; */
    /* border: 1px white solid; */
    /* width: 50%;
    text-align: center !important;
    font-size: 200% */
    font-family:"Engravers' Gothic BT";
    font-weight:400;
    font-style:normal;
    line-height:1;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:28px;
    color:#000000;
    margin-bottom:10px;
  }
  .saveTheDate{
    margin: 3% auto;
  }
  .cstyle{
    /* border: 1px solid white; */
    margin: 3% auto;
    text-align: center !important;
    font-size: 150%
  }
  .cs{
    font-size: 100% 
  }
  .styleVid{
    width: 65%;
    height: 20%;
  }
/* ======================= */
#loading{
  width: 90%;
 position: relative;
  z-index: 3000;
}
#priya-alt{
  width: 55%;
  height: 60%;
  position: absolute;
  z-index: 30; 
  border-radius: 100%;
  /* padding-top: 40px; */
}
#priya-alt{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alex Brush', cursive;
  font-size: 300%;
  font-weight: bolder
}
#loading {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
.together{
  width: 35%;
  height: 70%;
  /* border: 1px solid black; */
  position: absolute;
  /* top: 16%;*/
  left: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideToSide{
  position: absolute;
  overflow: hidden; 
  }
.together{
  animation: shrink 2s linear;
  animation-fill-mode: forwards;
}
@keyframes shrink {
  from {
  transform:scale(1) 
  }
  to {
    transform:scale(.25) translateX(-200%) translateY(-130%);
  }
}
.lineStyle{
  width: 10%;
  height: 54px;
  position: absolute;
  top: 80px;
  left: 40%;
  /* right: 80px; */
  transition: 2s ease;
}
.fix{
  width: 100px
}

a, a:hover{
  color: goldenrod;
  text-decoration: none;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
/* #mainContent{
min-height: 90%;
border: 1px solid black
} */