
body{
  /* font-family: 'Alex Brush', cursive; */
  font-family: Arial, Helvetica, sans-serif;
  color: goldenrod;
  min-height: 100%;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/4d/14/42/4d1442bd6c1ab961e1fdb99498c10bfc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgb(126, 8, 8); */
}
#loading{
  width: 90%;
 position: relative;
  z-index: 3000;
}
#priya-alt{
  width: 55%;
  height: 60%;
  position: absolute;
  z-index: 30; 
  border-radius: 100%;
  /* padding-top: 40px; */
}
#priya-alt{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Alex Brush', cursive;
  font-size: 300%;
  font-weight: bolder
}
#loading {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
.together{
  width: 35%;
  height: 70%;
  /* border: 1px solid black; */
  position: absolute;
  /* top: 16%;*/
  left: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideToSide{
  position: absolute;
  overflow: hidden; 
  /* transition: all .5s ease; */
  /* transform: translateX(-80%) translateY(-40%); */
  /* -webkit-transform: translateX(-80%); */
  
}
.together{
  animation: shrink 2s linear;
}
@keyframes shrink {
  from {
  transform:scale(1) 
  }
  to {
    transform:scale(.5) translateX(-230%) translateY(-90%);
  }
}
.navbar{
  height: 40%;
}
#mainPhoto{
  float: right;
}
.mainPhoto{
  float: right;
  margin: 5% 15% auto auto;
  width: 55%;
  height: 40%;
}
.lineStyle{
  width: 10%;
  height: 54px;
  position: absolute;
  top: 80px;
  left: 40%;
  /* right: 80px; */
  transition: 2s ease;

}
.fix{
  width: 100px
}

a, a:hover{
  color: goldenrod;
  text-decoration: none;
}

/* .hometorsvp,.hometophotos{
  position: absolute;
  overflow: hidden; 
  transition: all 1.5s ease;
} */
.hometorsvp{
  transform: translateX(76%);
}
.hometophotos{
  transform: translateX(155%);
}
.hometoevents{
  transform: translateX(244%);
}
.hometoacc{
  transform: translateX(364%);
}
.hometoregistry{
  transform: translateX(487%);
}
/* rsvp */
.rsvptohome{
  transform: translateX(0%);
}
.rsvptophotos{
  transform: translateX(155%);
}
.rsvptoevents{
  transform: translateX(244%);
}
.rsvptoacc{
  transform: translateX(364%);
}
.rsvptoregistry{
  transform: translateX(487%);
}
/*photos  */
.photostohome{
  transform: translateX(0%);
}
.photostorsvp{
  transform: translateX(76%);
}
.photostoevents{
  transform: translateX(244%);
}
.photostoacc{
  transform: translateX(364%);
}
.photostoregistry{
  transform: translateX(487%);
}
/*events  */
.eventstohome{
  transform: translateX(0%);
}
.eventstorsvp{
  transform: translateX(76%);
}
.eventstophotos{
  transform: translateX(155%);
}
.eventstoacc{
  transform: translateX(364%);
}
.eventstoregistry{
  transform: translateX(487%);
}
/*ACCOMODATIONS  */
.acctohome{
  transform: translateX(0%);
}
.acctorsvp{
  transform: translateX(76%);
}
.acctophotos{
  transform: translateX(155%);
}
.acctoevents{
  transform: translateX(244%);
}
.acctoregistry{
  transform: translateX(364%);
}
/*registry  */
.registrytohome{
  transform: translateX(0%);
}
.registrytorsvp{
  transform: translateX(76%);
}
.registrytophotos{
  transform: translateX(155%);
}
.registrytoevents{
  transform: translateX(244%);
}
.registrytoacc{
  transform: translateX(364%);
}